:root {
    // colors
    --colorPrimry: #101010;
    --colorSecondary: #636f87;
    // backgrounds
    --backgroundPrimary: #fff;
    --backgroundSecondary: #f2f4f6;
    --backgroundThirty: #1aab7b;
}

// COLORS
$color-primary: orangered;

// FONTS
$font-stack: "Arial", sans-serif;
